<div class="k">
        <h1> To do list</h1>
    <ul>
        <li> <input type="checkbox"> <a href="show.html"> Feed my dog</a></li>
        
        <li><input type="checkbox"> Do math project</li>
        
        <li><input type="checkbox">Watch favorite tv show at 8</li>
        
        <li><input type="checkbox">  Make dinner</li>
        
        <li><input type="checkbox"> Call my mom</li>
        
        <li><input type="checkbox">Apply for job</li> 
        
        <li><input type="checkbox"> Take pills </li>
        
        <li><input type="checkbox"> <a href="https://www.facebook.com/">Accept bre's friend request</a></li>
        
         <li><input type="checkbox"><input type="text"></li>
         <li> <a href= "/todos/1"> wake up</a></li>
         
        <button> +ADD</button>
         
    </ul>
    

    </div>
    Code word <%=@Code_word%>
    
         