
    
    <a href="index.html">Back</a> <br>
    


<img src="http://www.yorkiepassion.com/wp-content/uploads/2014/06/yorkie-cost-factores.jpg" alt="yorkie" width="400" height="400">
 <h1>Todo <%= @todo[:id]%> </h1>
<p> <%= @todo[:name]%></p>
<p> <%=@todo[:description]%></p>
 <p><%=@todo[:duration]%></p>