h1 {
    background-color:lightblue;
    border:4px solid #991acc ;
    width:22%; 
    margin:40px auto;
    
}
.k {
    background-color:lightpink; 
    border:7px solid #991acc;
    width:50%;
    margin:70px auto;
    margin-left:25%; 
    margin-top: 12%;

    
}
button {
    color:purple;
    display: inline;
}
body{
    background-image: url(https://i.ytimg.com/vi/9L6Aj0CJCuc/maxresdefault.jpg)
}
